@import './utility';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.white-theme {

    background-color: $main-bg-white;
    color: $new-text-color;

    .container {
        .header {

            .logo {

                color: $logo-black;
            }

            .theme i, .theme-txt {

                color: $moon-color;

            }
        }

        .search-box, .all-info {

            background-color: $nrml-bg-color
        }

        .all-info {

            .pic-details {

                .personal-details {

                    .name-mini-bio {

                        #username {

                            color: $logo-black;
                        }
                    }
                }
            }

            .count-table {

                background-color: $table-bg;

                tr {

                    th {

                        color: #808CA9;
                    }

                    td {

                        color: $logo-black;
                    }
                }
            }

            .social-icons {

                a {
                    i, span{

                        color: $new-text-color;
                    }
                }

                .disable {

                    i, span {

                        color: $new-disable-color;
                    }
                }
            }
        }
    }
}

body {

    background-color: $primary-bg;
    color: $primary-text;
    
    a {

        text-decoration: none
    }

}

.container {

    @include flexCenter(column);
    justify-content: space-evenly;
    width: 80%;
    max-width: 33em;
    margin: auto;
    padding-top: 2rem;

    .header {

        width: 100%;
        @include flexCenter(row);
        justify-content: space-between;
        color: $primary-white;
        margin-bottom: 2rem;

        .logo {

            font-family: 'ubuntu regular';
            font-size: 1.3rem;
        }

        .theme {

            @include flexCenter(row);
            color: $primary-white;

            .theme-txt {

                margin-right: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.2rem;

            }

            a {

                color: $primary-white;
                width: 20px;
                height: 20px;
                @include flexCenter(row);

                img {

                    width: 100%;
                }
                
            }
        }
    }

    .search-box {

        width: 100%;
        @include flexCenter(row);
        justify-content: space-between;
        background-color: $primary-color;
        padding: .5rem .5rem .5rem 1.5rem;
        font-size: 1.5rem;
        border-radius: 15px;
        margin-bottom: 1rem;

        i {

            color: $primary-btn;
        }

        #search {

            width: 70%;
            padding: .5rem;
            background: transparent;
            outline: none;
            border: 0;
            color: $primary-text;
            font-size: 1rem;

            &::-webkit-input-placeholder {

                color: $primary-text;
            }
        }

        #search-btn {

            width: 20%;
            text-transform: capitalize;
            background-color: $primary-btn;
            border: 0;
            padding: .8rem;
            border-radius: 5px;
            cursor: pointer;
            color: $primary-white;
            font-size: .9rem;
            
        }
    }

    .all-info {

        width: 100%;
        display: grid;
        grid-template-areas: 
        'details details'
        'bio bio'
        'count count'
        'social social'
        ;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        background-color: $primary-color;
        padding: 2rem;
        border-radius: 15px;
        

        .pic-details {

            grid-area: details;
            @include flexCenter(row);
            flex-wrap: nowrap;
            justify-content: flex-start;
            
            

            #profile-pic {

                width: 110px;
                height: 110px;
                margin-right: 2rem;
        
                img {
        
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: inline-block;
                    background-color: #E7EEF8;
                    border-radius: 50%;
                }
            }
        
            .personal-details {
        
                display: flex;

                .name-mini-bio {
                    max-width: 200px;
                    

                    p{

                        margin-bottom: .1rem;
                    }

                    #username {

                        text-transform: capitalize;
                        color: $primary-white;
                        font-size: 1.3rem;
                    }

                    #name-link {

                        margin-bottom: .2rem;
                        color: $primary-btn;
                    }


                    #no-bio-desc {

                        display: none;
                    }

                    
                }

                #second-date {

                    display: none;
                }
            }
        }

        #bio {
            grid-area: bio;
            width: 90%;
        }
    
        .count-table {
    
            grid-area: count;
            background-color: $primary-bg;
            border-radius: 10px;
            padding: .6rem 1.5rem;

            tr {

                th {

                    text-align: left;
                    text-transform: capitalize;
                }

                td {

                    color: $primary-white;
                    font-size: 1.2rem;
                }
            }
        }
    
        .social-icons {
    
            grid-area: social;
            display: grid;
            grid-gap: .5rem;
            grid-column-gap: .8rem;
            grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));

            a {

                width: fit-content;
                max-height: 100px;
                overflow: auto;

                &::-webkit-scrollbar {

                    display: none;
                }

                i {

                    color: $primary-white;
                    margin-right: .5rem;
                }

                span {

                    color: $primary-text;
                }
            }


            .disable {

                i, span {

                    color: rgb(95, 95, 95);
                    cursor: default;
                }
                
            }
        }

    }

}

.no-bio-card {

    max-width: 40em;

    .all-info{

        grid-template-areas: 
        'pic details'
        '. count'
        '. social'
        ;
        padding-left: 0;
        grid-column-gap: 2rem;
        

        #profile-pic {

            grid-area: pic;
            width: 110px;
            height: 110px;
            margin: auto;
            margin-left: 2rem;
            

            img {

                width: 100%;
                height: 100%;
                object-fit: cover;
                display: inline-block;
                background-color: #E7EEF8;
                border-radius: 50%;
            }
        }

        .pic-details {

            .personal-details {

                .name-mini-bio {

                    #first-date {

                        visibility: hidden;
                    }

                    #no-bio-desc {

                        display: block;
                    }
                }

                #second-date {

                    display: block;
                }
            }
        }

    }
}

@include mQ(425px) {


    body {

        padding: 1rem;
        font-size: 13px;
    }

    .container {

        width: 95%;

        .header {

            .logo {

                font-size: 1.5rem;
            }

            .theme {

                .theme-txt {

                    letter-spacing: .2rem;
                }
            }
        }

        .search-box {
            padding-left: 1rem;

            i {

                font-weight: lighter;
            }

            #search {

                font-size: 13px;
                width: 65%;
                padding-right: 0;
            }

            #search-btn {

                font-size: 13px;
                text-align: center;
                width: fit-content;
                padding: .8rem .9rem;
            }
        }

        .all-info {

            padding: 1.5rem;

            .pic-details {

                width: fit-content;

                #profile-pic {

                    width: 70px;
                    height: 70px;
                    margin: auto; 
                }

                .personal-details {

                    margin-left: 1rem;

                    .name-mini-bio {

                        #first-date {

                            margin-top: .3rem;
                        }
                    }
                }
            }

            

            #bio {

                width: 100%;
                line-height: 1.8;
            }

            .count-table {
                padding-top: 1rem;
                padding-bottom: 1rem;
                margin-right: 0;
                tr{
                    
                    th {

                        text-align: center;
                    }

                    td {

                        text-align: center;
                        font-size: 1rem;
                    }
                }

            }
            
            .social-icons {
                @include flexCenter(column);
                align-items: flex-start;

                #location {
                    order: 1;
                }
                #twitter {
                    order: 3;
                }
                #link {
                    order: 2;
                }
                #company {
                    order: 4;
                }
            }
        }
        
    }

    .no-bio-card {
        width: 100%;

        #all-information{
            padding: 1rem;
            grid-column-gap: 0;
            grid-template-areas: 
            'pic details'
            'count count'
            'social social'
            ;
            
            
    
            #profile-pic {
    
                grid-area: pic;
                width: 70px;
                height: 70px;
                margin-left: 0;
                
                img {
    
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: inline-block;
                    background-color: #E7EEF8;
                    border-radius: 50%;
                }
            }
    
            .pic-details {
                width: 100%;
                margin-right: auto;
                
    
                .personal-details {
                    margin-right: auto;
                    margin-left: 0;
    
                    .name-mini-bio {
                        margin-right: auto;
    
                        #first-date {
    
                            visibility: visible;
                            margin-top: 5px;
                        }
    
                        #no-bio-desc {
    
                            display: block;
                        }

                    }
    
                    #second-date {
    
                        display: none;
                    }
                }
            }


            .social-icons {

                @include flexCenter(column);
                align-items: flex-start;
            }
    
        }
    }
}
