// primary
$primary-color: #1F2A48;
$primary-bg: #141C2F;
$primary-btn: #0079FE;
$primary-link: #0F54A7;
$primary-white: #FFFEFA;
$primary-text: #B4BCCC;

@mixin flexCenter($dir){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: $dir wrap;
}

@font-face {
    font-family: 'ubuntu regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'ubuntu bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'poppins regular';
    src: url(../fonts/Poppins-Regular.ttf);
}