// Black theme
$primary-color: #1F2A48;
$primary-bg: #141C2F;
$primary-btn: #0079FE;
$primary-white: #E7EEF8;
$primary-text: #8E96AB;

// White theme
$main-bg-white: #F5F8FF;
$nrml-bg-color: #FEFEFE;
$logo-black: #191C22;
$moon-color: #62758F;
$new-text-color: #4A699F;
$new-disable-color: #A2B4CE;
$table-bg: #F5F8FF;




@mixin flexCenter($dir){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: $dir wrap;
}

@font-face {
    font-family: 'ubuntu regular';
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'ubuntu bold';
    src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'poppins regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@mixin mQ($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}